
<html>
    <head>
        <meta charset='utf-8'></meta>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>treeview</title>	
		
		<!--
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
		<link href="https://dl.dropboxusercontent.com/u/1043581/css/font-awesome.min.css" rel="stylesheet">
        <link href="css/exp.css" rel="stylesheet">
		
        <script src="https://dl.dropboxusercontent.com/u/1043581/js/jquery-2.0.3.min.js"></script>
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
		-->
        
        <link href="/tvweb2/offline/css/bootstrap.min.css" rel="stylesheet"> 
        <link href="/tvweb2/offline/css/font-awesome.min.css" rel="stylesheet">
        <link href="css/exp.css" rel="stylesheet">
		
        <script src="/tvweb2/offline/js/jquery-2.0.3.min.js"></script>
        <script src="/tvweb2/offline/js/bootstrap.min.js"></script>
   
    </head>
    <body style="padding:0;">
		
        #if($message)       
    		$message.type : $message.content
		#end
		
		$content
         </body>
</html>
